.e-schedule .e-appointment-details{
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}
.e-schedule-table{
    position: relative;
}

.template-wrap{
    background: green;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    width: 100%;
    color: white;
}
.e-header-day{
    font-size: 18px;
    text-align: center;
}
.e-header-date{
    text-align: center;
    font-size: 14px;
}
.e-schedule .e-vertical-view .e-date-header-wrap table tbody td {
    border-width: 0 1px 1px 0;
    color: #707070;
    width: 100%;
}
.e-toolbar .e-toolbar-items.e-tbar-pos .e-toolbar-right{
    right: 50%;
    transform: translateX(50%);
}
.__7e22f .view-select-button {
    width: 60px;
    height: auto;
    padding: 2px;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 4px;
    background: 0 0;
    outline: 0;
    margin-right: 2px;
    cursor: pointer;
}


.e-active-view{
    background-color: #ffffff;
}
.e-active-view .e-tbar-btn-text{
    color: #1371cb;
}
.e-toolbar-right{
    background-color: #f2f2f2;
    border-radius: 4px;
}
.e-toolbar-item .e-today{
    display: none;
}
.e-schedule-toolbar-container{
    padding: 1em;
}
.e-toolbar .e-toolbar-items .e-toolbar-item{
    padding: 1px;
    padding-bottom: 5px;

}
.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn{
    background: transparent;
    padding: 2px;
    border-radius: 4px;

}
.e-schedule .e-schedule-toolbar .e-tbar-btn .e-tbar-btn-text {
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 20px;
    color: #707070;
}
.e-schedule .e-table-container {
    min-height: 630px;
    overflow-y: scroll;
}
.e-schedule-table{
    position: relative;
}
.e-schedule-table .e-header-row{
    position: sticky;
    top: 0;
}
.e-schedule .e-vertical-view .e-header-cells .e-header-day{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.e-schedule .e-vertical-view .e-header-cells .e-header-date{
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}
.e-schedule .e-vertical-view .e-header-cells.e-current-day{
    color: #1371cb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.e-schedule .e-vertical-view .e-header-cells.e-current-day .e-header-date span{
    background: rgba(231, 241, 249, 0.9);
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.e-schedule .e-month-view .e-appointment{
    background-color: #ade9cd;
    color: #0a6038;
    box-shadow: none;
}
.e-schedule .e-month-view .e-date-header{
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
    font-size: 12px;
    padding: 2px;
    float: right;
    margin: 4px;  
    margin: 4px 20px;
    color: #444;
}
.e-schedule .e-month-view .e-current-date .e-date-header, .e-schedule .e-month-agenda-view .e-current-date .e-date-header{
    background-color: #1371cb;
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
    font-size: 12px;
    padding: 2px;
    float: right;
    margin: 4px 20px;
}
.e-schedule .e-month-view .e-work-days, .e-schedule .e-month-agenda-view .e-work-days{
    height: 100px;
}
.e-schedule .e-month-view .e-other-month, .e-schedule .e-month-agenda-view .e-other-month .e-work-days{
    opacity: 0.54;
}

.e-popup.e-popup-open.e-dialog{
    background: #fff;
    padding: 14px 20px 19px 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    border-radius: 5px;
    position: relative;
    font-family: inherit;
}
.flyout-triangle{
    position: absolute;
    left: -3px;
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
}
.window-section{
    display: flex;
    margin: 15px 0;
    gap: 15px;
}
.window-dropdown{
    width: 240px;
}
.window-btn{
    color: #333;
    background-color: #f2f2f2;
    padding: 7px 12px;
    border: none;
    display: grid;
    place-items: center;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
.e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary{
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #1371cb;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 18px;
    height: 32px;
    font-family: inherit;
}
.e-dialog .e-footer-content .e-btn{
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 18px;
    height: 32px;
    font-family: inherit;
}
.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap{
    border: 2px solid #e4e4e4;
    padding: 5px 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    border-radius: 5px;
}
